# Data Science with pandas
the root for this notebook is a  [Kaggle's course](https://www.kaggle.com/learn/pandas?rvi=1) and [dataset](https://www.kaggle.com/zynicide/wine-reviews)

## Drive Settings

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Creating, Reading and Writing
[Click me](https://www.kaggle.com/residentmario/creating-reading-and-writing)

In [3]:
import pandas as pd

### DataFrame
- a DataFrame is a table
- each entry corresponds to a row and a column

In [4]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 'Sue': ['Pretty good.', 'Bland.']})

            Bob           Sue
0   I liked it.  Pretty good.
1  It was awful        Bland.

- we are using the ```pd.DataFrame()``` constructor to generate these DataFrame objects
- the syntax for declaring a new one is a dictionary whose keys are the column names, and whose values are a list of entries
- the dictionary-list constructor assigns values to the columns labels, but just uses an ascending count from 0 for the row labels
- oftentimes, we will want to assing these labels ourselves
- the list of row labels used in a DataFrame is know as an Index

In [6]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series
- a sequence of data values
- a list
- a single column of a DataFrame

In [7]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

a Series does not have a column name, it only has one has one overall ```name```

In [8]:
pd.Series([30, 35, 40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### Reading data files
we'll use the ```pd.read_csv()``` function to read the data into a DataFrame

In [9]:
wine_reviews = pd.read_csv("drive/MyDrive/Colab Notebooks/winemag-data-130k-v2.csv")

we can use ```shape``` attribute to check how large the resulting DataFrame is

In [10]:
wine_reviews.shape

(129971, 14)

we can examine the contents of the resultant DataFrame using the ```head()``` command, which grabs the first five rows

In [11]:
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

you can see in this dataset that the CSV file has a built-in index. To make pandas use that column for the index, we can specify an ```index_col```

In [12]:
wine_reviews = pd.read_csv('drive/MyDrive/Colab Notebooks/winemag-data-130k-v2.csv', index_col = 0)
wine_reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]

## Indexing, Selecting & Assigning

In [13]:
pd.set_option('max_rows', 5)

### Native Python accessors
In Python, we can access the property of an object by accessing it as an attibute. Columns in a pandas DataFrame work in much the same way

In [16]:
wine_reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In Python dictionary, we can access its values using the indexing (```[]```) operator. We can do tha same with columns in a DataFrame

In [17]:
wine_reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

Neither of them is more or less syntactically valid tha the other, but the indexing operator does have the advantage that it can handle column names with reserved characters in them

To drill down to a single specific value, we need only use the indexing operator ```[]``` once more:

In [18]:
wine_reviews['country'][0]

'Italy'

### Indexing in pandas
 row-first, column-second

#### Index-base selection
selecting data based on its numerical position in the data

In [20]:
wine_reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

to get a column with ```iloc```, we can do the following

In [22]:
wine_reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

the operator ```:``` means _everything_. When combined with other selectors, however, it can be used to indicate a range of values

In [23]:
wine_reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [24]:
wine_reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

In [26]:
wine_reviews.iloc[-5:]

        country  ...                                    winery
129966  Germany  ...  Dr. H. Thanisch (Erben Müller-Burggraef)
129967       US  ...                                  Citation
129968   France  ...                           Domaine Gresser
129969   France  ...                      Domaine Marcel Deiss
129970   France  ...                          Domaine Schoffit

[5 rows x 13 columns]

it's also possible to pass a list

In [25]:
wine_reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

#### Label-based selection
the data index value, not its position, which matters

In [27]:
wine_reviews.loc[0, 'country']

'Italy'

```iloc``` is conceptually simples than ```loc``` because it ignores the dataset's indices. But, since your dataset usually has meaningful indices, it's usually easier to do things using ```loc``` instead

In [30]:
wine_reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

#### Choosing between ```loc``` and ```iloc```
- ```iloc``` uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. ```loc```, meanwhile, indexes inclusively

### Manipulating the index

We can manipulate the index in any way we see fit. The ```set_index()``` method can be used to do the job

In [31]:
wine_reviews.set_index('title')

                                                     country  ...                winery
title                                                         ...
Nicosia 2013 Vulkà Bianco  (Etna)                      Italy  ...               Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro)       Portugal  ...   Quinta dos Avidagos
...                                                      ...  ...                   ...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace)         France  ...  Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuvée Caro...    France  ...      Domaine Schoffit

[129971 rows x 12 columns]

### Conditional selection

In [32]:
wine_reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [33]:
wine_reviews.loc[wine_reviews.country == 'Italy']

       country  ...           winery
0        Italy  ...          Nicosia
6        Italy  ...  Terre di Giurfo
...        ...  ...              ...
129961   Italy  ...              COS
129962   Italy  ...         Cusumano

[19540 rows x 13 columns]

we can use the ampersand (```&```) to bring the two (or more) questions together. But to bring this or those, we use a pipe (```|```)

In [34]:
wine_reviews.loc[(wine_reviews.country == 'Italy') & (wine_reviews.points >= 90)]

       country  ...    winery
120      Italy  ...   Ceretto
130      Italy  ...   Ceretto
...        ...  ...       ...
129961   Italy  ...       COS
129962   Italy  ...  Cusumano

[6648 rows x 13 columns]

In [35]:
wine_reviews.loc[(wine_reviews.country == 'Italy') | (wine_reviews.points >= 90)]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[61937 rows x 13 columns]

```isin``` is lets you select data whose value "is in" a list of values

In [36]:
wine_reviews.loc[wine_reviews.country.isin(['Italy', 'France'])]

       country  ...                winery
0        Italy  ...               Nicosia
6        Italy  ...       Terre di Giurfo
...        ...  ...                   ...
129969  France  ...  Domaine Marcel Deiss
129970  France  ...      Domaine Schoffit

[41633 rows x 13 columns]

```isnull``` (and ```notnull```) methods let you highlight values which are (or are not) empty (```NaN```)

In [37]:
wine_reviews.loc[wine_reviews.price.notnull()]

         country  ...                winery
1       Portugal  ...   Quinta dos Avidagos
2             US  ...             Rainstorm
...          ...  ...                   ...
129969    France  ...  Domaine Marcel Deiss
129970    France  ...      Domaine Schoffit

[120975 rows x 13 columns]

### Assigning data

assign either a constant value

In [39]:
wine_reviews['critic'] = 'everyone'
wine_reviews['critic']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

or with an iterable of values

In [41]:
wine_reviews['index_backwards'] = range(len(wine_reviews), 0, -1)
wine_reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64