# Data Science with pandas
the root for this notebook is a  [Kaggle's course](https://www.kaggle.com/learn/pandas?rvi=1) and [dataset](https://www.kaggle.com/zynicide/wine-reviews)

## Configurações do Drive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Creating, Reading and Writing
[Click me](https://www.kaggle.com/residentmario/creating-reading-and-writing)

In [15]:
import pandas as pd

### DataFrame
- a DataFrame is a table
- each entry corresponds to a row and a column

In [16]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [17]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 'Sue': ['Pretty good.', 'Bland.']})

            Bob           Sue
0   I liked it.  Pretty good.
1  It was awful        Bland.

- we are using the ```pd.DataFrame()``` constructor to generate these DataFrame objects
- the syntax for declaring a new one is a dictionary whose keys are the column names, and whose values are a list of entries
- the dictionary-list constructor assigns values to the columns labels, but just uses an ascending count from 0 for the row labels
- oftentimes, we will want to assing these labels ourselves
- the list of row labels used in a DataFrame is know as an Index

In [18]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

### Series
- a sequence of data values
- a list
- a single column of a DataFrame

In [19]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

a Series does not have a column name, it only has one has one overall ```name```

In [20]:
pd.Series([30, 35, 40], index = ['2015 Sales', '2016 Sales', '2017 Sales'], name = 'Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### Reading data files
we'll use the ```pd.read_csv()``` function to read the data into a DataFrame

In [34]:
wine_reviews = pd.read_csv("drive/MyDrive/Colab Notebooks/winemag-data-130k-v2.csv")

we can use ```shape``` attribute to check how large the resulting DataFrame is

In [35]:
wine_reviews.shape

(129971, 14)

we can examine the contents of the resultant DataFrame using the ```head()``` command, which grabs the first five rows

In [36]:
wine_reviews.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

you can see in this dataset that the CSV file has a built-in index. To make pandas use that column for the index, we can specify an ```index_col```

In [37]:
wine_reviews = pd.read_csv('drive/MyDrive/Colab Notebooks/winemag-data-130k-v2.csv', index_col = 0)
wine_reviews.head()

    country  ...               winery
0     Italy  ...              Nicosia
1  Portugal  ...  Quinta dos Avidagos
2        US  ...            Rainstorm
3        US  ...           St. Julian
4        US  ...         Sweet Cheeks

[5 rows x 13 columns]