# pandas
Disponível no [kaggle](https://www.kaggle.com/learn/pandas)

In [2]:
import pandas as pd

Em pandas, __DataFrame__ e __Series__ são objetos essenciais

## DataFrame
- tabela
- matriz com entradas individuais, cada uma com um determinado valor
- cada entrada corresponde a uma linha (registro) e coluna

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

- _DataFrame's_ podem conter dados que não são inteiros

- Geralmente o construtor ```pd.DataFrame()``` gera um objeto _DataFrame_.

- A sintaxe costuma possuir um dicionário, sendo que suas chaves representam as colunas, e seus valores estão em uma lista de entradas.

  - Quando necessário, é possível também nomear as linhas do _DataFrame_, utilizando ```index``` após o dicionário

In [ ]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'],
              'Sue': ['Pretty good.', 'Bland.']},
             index = ['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

## Series
- sequência de valores
- lista

In [4]:
pd.Series([number for number in range(1, 5)])

0    1
1    2
2    3
3    4
dtype: int64

- _Series_ é um _DataFrame_ de coluna única
- não possui _name_ para colunas, mas sim, geral

In [5]:
pd.Series([30, 40, 45],
          index = ['2015 Sales', '2016 Sales', '2017 Sales'],
          name = 'Product A')

2015 Sales    30
2016 Sales    40
2017 Sales    45
Name: Product A, dtype: int64

### Leitura de Dados
- dados podem ser armazenados de vários formas
  - o exemplo mais básico é o formato CSV

In [6]:
csv_file = open('winemag-data-130k-v2.csv', 'w')
csv_file.write("""Product A,Product B,Product C
30,21,9
35,34,1
41,11,11""")
csv_file.close()

In [7]:
csv_file = open('winemag-data-130k-v2.csv', 'r')
print(csv_file.readlines())

['Product A,Product B,Product C\n', '30,21,9\n', '35,34,1\n', '41,11,11']

- CSV é uma tabela com valores separados por vírgula
- ```pd.read_csv()``` lê dados de um CSV

In [8]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv")

- o atributo ```shape``` verifica o tamanho do _DataFrame_ resultante
  - ele retorna ```(quantide de linhas, quantidade de colunas)```

In [9]:
wine_reviews.shape

(3, 3)

- o comando ```head()``` examina o conteúdo do _DataFrame_, retornando as 5 primeiras linhas

In [10]:
wine_reviews.head()

   Product A  Product B  Product C
0         30         21          9
1         35         34          1
2         41         11         11

- ```index_col``` fará com que a coluna informada seja considerada como indice

In [11]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col = 0)
wine_reviews.head()

           Product B  Product C
Product A
30                21          9
35                34          1
41                11         11

# Indexação, Seleção e Atribuição
- selecionar um valor de um DataFrame ou Series é uma etapa implícita em quase todas as operações de dados

In [12]:
pd.set_option('max_rows', 5)

## Acessores nativos
- objetos nativos Python tem boas formas de indexação de dados, e são utilizados por pandas

In [13]:
wine_reviews

           Product B  Product C
Product A
30                21          9
35                34          1
41                11         11

- podemos acessar as propriedades de um objeto acessando-o como um atributo

In [14]:
dir(wine_reviews)

['T',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_builtin_table',
 '_can_fast_transpose',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_cython_table',
 '_data',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iter_column_arrays',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [15]:
wine_reviews.index

Int64Index([30, 35, 41], dtype='int64', name='Product A')

## Indexando pandas

- pandas tem alguns operadores próprios, como ```loc``` e ```iloc```, muito usados em operações mais avançadas
- ambos exibem linha e coluna, nesta ordem

### Seleção baseada em indíce
- seleciona dados de acordo com a posição numérica

In [16]:
wine_reviews.iloc[0]

Product B    21
Product C     9
Name: 30, dtype: int64

- para obter uma coluna, combinamos ```:``` com o valor da coluna. podemos obter os valores das colunas x a 7 utilizando [x:y+1], bem como passar uma lista como primeiro parametro, ou mesmo um valor negativo

In [17]:
wine_reviews.iloc[:, 0]

Product A
30    21
35    34
41    11
Name: Product B, dtype: int64

### Seleção baseada em rótulo

- utiliza as informações dos indices

## Quando utilizar ```loc``` e ```iloc```
- ```iloc``` quando o primeiro elemento do intervalo é incluído e o ultimo excluido
- ```loc``` quando desejar utilizar uma propriedade (indice) como parametro

## Manipulando indices
- ```loc``` deriva do poder de etiquetar os indices
- o indice não é imutavel

In [23]:
# wine_reviews.set_index("title")

## Seleção condicional
- podemos selecionar utilizando operadores lógicos
- and = &; or = |
- ```.isin``` compara com os valores de uma lista
- ```/notnull``` retorna se o valor dor diferente de NaN